.nav-menu {
    margin: 0;
    padding: 0;
    list-style-type: none;
    height: 2em;
}

.nav-menu li {
    display: inline-block;
    margin-right: 2em;
}

.main {
    overflow: hidden;
    height: 100%;
}

.reveal-container {
    position: relative;
    overflow-y: auto;
    height: 20em;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    /* transition the height in .4 seconds, with no initial delay */
    transition: height .4s;
    -webkit-transition: height .4s;
}

.reveal-container.close {
    height: 0;
}

.content {
    padding: 0;
    margin: 0;
    position: absolute;
    overflow: hidden;
    background: none;
    height: auto;
    opacity: 0;
    /* transition opacity after a .4s delay, but the transition
       itself is instantaneous. The delay here should match
       the height transition time above */
    transition: opacity 0 .4s;
    -webkit-transition: opacity 0 .4s;
}

.content:target {
    opacity: 1;
}
